.a{
    color: aqua;
}
*{
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: green;
}

#logo-div{
    border-radius: 25px;
    width: 100%;
    background-color:greenyellow;
        padding: 2%;
   min-height: 1px;
   line-height: 1px;
   margin-bottom:20px;
}

a{
    
    margin-top: auto;
    text-decoration: none;
    border-radius: 20px;
    width: 100%;
    min-height: 10px;
    margin-right:10px;
    
    background-color: greenyellow;
    line-height: ;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3.2%;
}

.centersv {
    border-radius: 25px;
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 70%;
}
.centervp{
    border-radius: 25px;
    display: block;
    margin-left:auto;
    margin-right: 227px;
    width: 70%;
}

    #nav-div{
        width: 100%;
        min-height: 30px;
        background-color: greenyellow;
        line-height: 30px;
        text-align: center;
        margin-bottom: 10px;
    }


#main-content{
    background-color: grey;
    width: 70%;
    margin-left: 15%;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(143, 149, 144);
}

#product-title{
   min-height: 50px;
    text-align: left;
    background-color: darkgrey;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#pictures{
width: 60%;
background-color: lightgray;
float: left;
margin-left: 20px;
border-radius: 10px;
margin-bottom: 15px;
}

.back-button
{
    background-color: rgba(255, 255, 255, 0);
    float: left;

}

#product-image{
    width: 100%;
}

.next-button
{
    background-color: rgba(255, 255, 255, 0);
float: right;

}

#next-image{
    width: 15px;
}

#back-image{
    width: 15px;

}


#price{
    width: 25%;
    background-color: lightgrey;
    height: 450px;
    margin-right: 20px;
    float: right;
    border-radius: 10px;
    margin-bottom: 20px;
}

#description-title{
   min-height: 30px;
    text-align: left;
    background-color: blue;
    clear: both;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#product-description{
    background-color: grey;
   margin-left: 20px;
   min-height: 500px;
   margin-bottom: 10px;
   clear: both;
   border-radius: 10px;
}

#copyright{
    width: 100%;
    background-color: green;
        padding: 2%;
   min-height: 50px;
}



.clearfix::after{
    content:"";
    display:block;
    clear:both;
    
}