*{
    font-family: sans-serif;
    box-sizing: border-box;
    font-size: 30px;
    background-color: green;
    color: brown;
}

#wrapper{
}

.span{
    border-radius: 0px;
}

#tomato{
 height: 600px;
 width: 800px;
 position: relative;
 border-radius: 20px;
 border-color: greenyellow;
 border-style: groove;
 border-width: 6px;
 margin-left: 50px;
 margin-top: 50px;
}

#arrow-next{
    height: 60px;
    width: 60px;
    position: absolute;
    top: 300px;
    left: 740px;
    background-color: transparent;
}

#arrow-next:hover
{
    height: 63px;
    width: 63px;
    position: absolute;
    top: 300px;
    left: 740px;
    border-style: solid;
    border-width: 1px;
    border-color: greenyellow;
    background-color: transparent;

}

#arrow-back{
    height: 60px;
    width: 60px;
    position: absolute;
    top: 300px;
    left: 10px;
    background-color: transparent;
}

#arrow-back:hover
{
    height: 63px;
    width: 63px;
    position: absolute;
    top: 300px;
    left: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: greenyellow
    background-color: transparent;
}